.gametime-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.search-app-container {
  position: relative;
}

.search-input {
  padding: 10px 10px 10px 30px;
  border-radius: 25px;
  width: 300px;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  top: 9px;
  left: 7px;
  width: 25px;
  height: 25px;
}